/* 마우스 스크롤다운 */
#scrolldown {bottom: 30px; height: 80px; margin-left: -50px; position: absolute; left: 50%; text-align: center; width: 100px; z-index: 100;}
#scrolldown p {
  font: 700 0.7em/1em 'Avenir',sans-serif;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #fff;
}
#scrolldown > p { text-transform: uppercase;  text-indent: 3px;}
.mouse { border: 2px solid #fff; border-radius: 13px; display: block; height: 46px; left: 50%; margin: 20px 0 0 -13px;  position: absolute; width: 26px;}
.mouse span {display: block; font-size: 1.5em;  margin: 6px auto;}
@keyframes scroll {
  0% {
    opacity: 1;   transform: translateY(0px);
  }
  100% {
    opacity: 0;   transform: translateY(10px);
  }
}


.secIn_con{height:100%; max-height:1440px; min-height:1024px;  position:relative; overflow:hidden;}


/* Section1 - main 슬라이드 */

.slider { float: left; z-index:1;}
.slider .jquery-reslider .slider-block { width: 100%; height: 100%; position: absolute; z-index: 1;  background-position: 50% 50%;  background-size: cover;  opacity: 0;  top:0;}
.slider .jquery-reslider .slider-direction { width: 60px;  height: 60px;  position: absolute;  top: 45%;  z-index: 0;  cursor: pointer;}
.slider .jquery-reslider .slider-direction.slider-direction-prev { left: 20px;  background: url('../images/prev.png') no-repeat;  background-size:100%;}
.slider .jquery-reslider .slider-direction.slider-direction-next { right: 20px; background: url('../images/next.png') no-repeat;}
.slider .jquery-reslider .slider-dots { position: absolute;  width: 100%;  text-align: center;  bottom: 47%;}
.slider .jquery-reslider .slider-dots li { width: 30px; height: 5px; display: inline-block; margin: 5px; background:rgba(255, 255, 255, 0.5);  cursor: pointer;}
.slider .jquery-reslider .slider-dots li.active { background-color: #ffffff; }

.slider_text{position:absolute; top:25%; left:50%; margin-left:-550px; padding-left:170px; width:1100px; text-align:left;  color:#fff; transform: translateY(-50%);  margin-top:90px;  background:url('../img/main_tit_bg.png') top left no-repeat; }
.slider_text h1 {font-size:4.2em; line-height:120%; font-weight:bold; padding-bottom:20px; letter-spacing:-0.7pt; padding-top:100px;}
.slider_text h1.long_tit {font-size:3.5em; }
.slider_text h2{font-size:1.5em;}

/* Section1 - 예약 */

.sec1_inquiry{position:absolute; bottom:35%; left:50%; margin-left:-550px; width:100%; max-width:1100px; height:60px; text-align:left;  background:#fff; transform: translateY(-50%);  z-index:99; margin-top:90px;   }
.sec1_inquiry li{float:left; width:18%; text-align:left; border-right:1px dotted #ccc; padding:20px 0; overflow: hidden; padding-left:60px;}
.sec1_inquiry li:nth-child(1){background:url('../img/icon_sch_s.gif') 30px no-repeat; }
.sec1_inquiry li:nth-child(2){background:url('../img/icon_time_s.gif') 30px no-repeat; }
.sec1_inquiry li:nth-child(3), .sec1_inquiry li:nth-child(4){background:url('../img/icon_pin_s.gif') 30px no-repeat; }
.sec1_inquiry li:nth-child(5){background:url('../img/icon_people_s.gif') 30px no-repeat; border-right:0;}
.inquiry_btn{float:right; height:60px; line-height:60px; background:#2257af; border:none; color:#fff; width:10%; cursor:pointer;}
.inquiry_btn:hover{background:#144494; -webkit-transition:.5s, -webkit-transform .5s;     transition: .5s, transform .5s}


/* Section2 - 나만의 맞춤형 비지니스제트 */
#section2 {padding-top:80px;}
#section2 .secIn_con{ width:100%;}
#section2 h2, #section3 h2{color:#080808; letter-spacing:-2pt; background:url('../img/title_line_b.png') center bottom no-repeat; padding-bottom:25px;}
#section2 h2 span, #section3 h2 span, #section5 h2 span{font-weight:bold;}
#section2 .left_recom{margin-top:40px; text-align:left; position:relative; width:100%; height:370px; border-bottom:1px solid #ddd;}
#section2 .left_recom dl{max-width:1100px; margin:0 auto; position:relative;}
#section2 .left_recom dt{ z-index:1; left:0; text-align:left; float:left;}
#section2 .left_recom dt img{width:100%; max-width:590px;}
#section2 .left_recom dd{position:absolute; float:left; left:50%;  font-size:14px; color:#444;  border:1px solid #ddd; padding:60px 80px; width:550px; height:280px; z-index:2; background:#fff; margin-top:90px;}
#section2 .left_recom dd h3{font-size:30px; color:#000; letter-spacing:-1.2pt; padding-bottom:20px}
#section2 .left_recom dd span{font-size:1.2em; color:#666;}
#section2 .left_recom dd p.more{width:100%;  margin:1em auto 0}
#section2 .left_recom dd p.more a{clear:both; bottom:0; font-size:13px; text-decoration:underline; background:url('../img/info_arrow.png') top left no-repeat; padding:5px 0 40px 50px}
#section2 .left_recom dd p.more a:hover{background-position-x:7px; -webkit-transition:.3s, -webkit-transform .3s;     transition: .3s, transform .3s}

#section2 .right_recom{border-top:1px solid #ddd; text-align:left; position:relative;}
#section2 .right_recom{margin-top:40px; text-align:right; position:relative; width:100%; height:370px; border-top:1px solid #ddd;}
#section2 .right_recom dl{max-width:1100px; margin:0 auto; position:relative;}
#section2 .right_recom dt{ z-index:1; right:0; text-align:left; float:right;}
#section2 .right_recom dt img{width:100%; }
#section2 .right_recom dd{position:absolute; float:right; right:50%;  font-size:14px; color:#444;  border:1px solid #ddd; padding:60px 80px; width:550px; height:280px; z-index:2; background:#fff; margin-top:40px;}
#section2 .right_recom dd h3{font-size:30px; color:#000; letter-spacing:-1.2pt; padding-bottom:20px}
#section2 .right_recom dd span{font-size:1.2em; color:#666;}
#section2 .right_recom dd p.more{width:100%;  margin: 1em auto 0}
#section2 .right_recom dd p.more a{clear:both; bottom:0; font-size:13px; text-decoration:underline; background:url('../img/info_arrow.png') top left no-repeat; padding:5px 0 40px 50px}
#section2 .right_recom dd p.more a:hover{background-position-x:7px; -webkit-transition:.3s, -webkit-transform .3s;     transition: .3s, transform .3s}


/* Section3 - 이용안내 */
#section3 {padding-top:80px; background: url('../img/util_bg.jpg') center top no-repeat; background-position: 50% 50%;  background-size: cover;  }
#section3 .secIn_con{ width:100%; max-width:1100px; margin:0 auto;}

.card {position: relative; max-width: 250px; display: inline-block; margin: auto; margin-top:40px; margin-right:20px; margin-bottom:20px; text-align: center; }
.card:nth-child(5){margin-right:0;}
.card__image {position: relative; height: 450px; margin-bottom: 60px;  width:100%;}
.card__image:hover{transform: translate(0, -15px);  transition:.3s ease-in-out;
	-webkit-transform:translate(0, -15px);
	-moz-transform:translate(0, -15px);
　	-ms-transform:translate(0, -15px);
　	-o-transform:translate(0, -15px);}
.card__date{font-weight:bold; font-size:1.5rem; letter-spacing:-1.2pr; color:#000; margin-bottom:10px;}
.card__desc{font-size:1rem; color:#666; text-align: center; padding: 0 10px; height:5rem;}
.card__button{display:block; width:60%; text-decoration:none; border:1px solid #2257af; color:#2257af; padding:10px 20px; margin: 30px auto 25px auto; text-transform:uppercase; font-size:1rem;  border-radius:5px; }
.card__button:hover{background-color:#2257af; color:#fff;  -webkit-transition:.5s, -webkit-transform .5s;     transition: .5s, transform .5s}


/* Section4 - 부가서비스 */
#section4 {padding-top:80px; background: url('../img/service_bg.jpg') center top no-repeat; background-position: 50% 0;  }
#section4 h2, #section4 h3{color:#fff;}


/* Section5 - 홍보 */
#section5 {padding-top:80px; background: url('../img/ad_bg.jpg') center top no-repeat; background-position: 50% 50%;  background-size: cover;  }
#section5 .secIn_con{ width:100%;}
#section5 h2, #section5 h2{color:#fff; letter-spacing:-2pt; background:url('../img/title_line_w.png') center bottom no-repeat; padding-bottom:25px;}
#section5  video {margin-top:40px; width:100%;  max-width:730px;  height:auto; margin-bottom:90px; -webkit-box-shadow: 0px 27px 42px -15px rgba(0,0,0,0.75);-moz-box-shadow: 0px 27px 42px -15px rgba(0,0,0,0.75);box-shadow: 0px 27px 42px -15px rgba(0,0,0,0.75);}

.ad_num{width:100%; max-width:900px; margin:0 auto; color:#fff;}

.ad_num li{float:left; text-align:left; width:50%; }
.ad_num li:first-child dl{padding-right:20%;  border-right:1px solid rgba(255, 255, 255, 0.3)}
.ad_num li:nth-child(2) dl{padding-left:30%;}
.ad_num li dt{float:left; padding-right:2em; padding-top:.5em;}
.ad_num li dd.ad_tit{font-size:1.5rem; line-height:120%; padding-bottom:.5em}
.ad_num li dd.ad_num{font-size:4rem; font-weight:bold; line-height:100%;}

/*******************************************************************************
	@media ~1024px
*******************************************************************************/
@media all and (max-width:1024px){
	.card {position: relative; overflow:hidden; width: 20%; height:200px display: table_cell; margin: auto; margin-top:40px; margin-right:2%; margin-bottom:20px; text-align: center; }
	.card:nth-child(5){margin-right:0;}
	.card__image {position: relative; overflow:hidden; height: 300px; margin-bottom: 40px;  width:100%;}
	
}


/*******************************************************************************
	@media ~980px
*******************************************************************************/
@media all and (max-width:980px){

	
	.slider_text{width:100%; position:absolute; top:30%; left:0; margin:0; text-align:center; padding-left:0; background-size:50%;}
	.slider_text h1{padding-top:120px;}
	.slider_text h1, .slider_text h1.long_tit {font-size:3em;}
	.slider_text h2{font-size:1.2em;}
	.sec1_inquiry{width:98%; position:absolute; bottom:30%; left:0; margin:0; text-align:center; padding-left:0; background-size:50%; margin:0 1%}
	.secIn_con{height:100%; min-height:568px;  position:relative;}
	
	#section2 .secIn_con{padding-bottom:3em;}
	#section2 .left_recom dt, #section2 .right_recom dt {padding:0 10%; text-align:center;}
	#section2 .left_recom dd p.more, #section2 .right_recom dd p.more{width:100%;  margin:1em auto 0}
	#section2 .right_recom dd{left:0; padding:60px 40px 60px 0; width:400px}
	
	.card {position: relative; overflow:hidden; width: 23%; height:200px display: table_cell; margin: 40px 1%; margin-bottom:20px; text-align: center; }
	.card__image {position: relative; overflow:hidden; height: 300px; margin-bottom: 40px;  width:100%;}
	
	.ad_num li{text-align:center; }
	.ad_num li:first-child dl{padding-right:0;  }
	.ad_num li:nth-child(2) dl{padding-left:0;}
	.ad_num li dt{float:none; padding-bottom: 1.2em; text-align:center; padding-left:1em;}
	.ad_num li dd {clear:both;}
	.ad_num li dd.ad_tit{font-size:1.5rem; line-height:120%; padding-bottom:.5em}
	.ad_num li dd.ad_num{font-size:4rem; font-weight:bold; line-height:100%;}
	
	
}



/*******************************************************************************
	@media ~768px
*******************************************************************************/
@media screen and (max-width: 768px) {
	.slider .jquery-reslider .slider-direction { zoom: .8; }
	.slider .jquery-reslider .slider-dots { position: absolute; }

	.slider_text{width:100%; position:absolute; top:20%; left:0; margin:0; text-align:center; background:none;}
	.slider_text h1, .slider_text h1.long_tit {font-size:1.8em;}
	.slider_text h2{font-size:1.2em;}
	
	.sec1_inquiry {background:#fff; height:122px; bottom:20%;}
	.sec1_inquiry li{float:left; width:20%; text-align:left; border-right:1px dotted #ccc; padding:20px 0; overflow: hidden; padding-left:60px;  vertical-align:top; *display:table-cell;*zoom:1;}
	.sec1_inquiry li:nth-child(1), .sec1_inquiry li:nth-child(2) {width:50%; border-bottom:1px solid #ddd;} 
	.sec1_inquiry li:nth-child(3), .sec1_inquiry li:nth-child(4), .sec1_inquiry li:nth-child(5){width:33.3%}
	.inquiry_btn {clear:both; width:100%; }

	
	#section2 .left_recom{text-align:center; width:100%; border:0;}
	#section2 .left_recom dl{width:100%;}
	#section2 .left_recom dt{ z-index:1; float:left}
	#section2 .left_recom dt img{width:100%; text-align:center;}
	#section2 .left_recom dd{position:relative; float:left; left:0%;  margin-top:0;font-size:14px; color:#444;  border:none; padding:20px 0;  width:100%; clear:both;}
	#section2 .left_recom dd h3{font-size:30px; color:#000; letter-spacing:-1.2pt; padding-bottom:20px}
	#section2 .left_recom dd span{font-size:1.2em; color:#666;}
	#section2 .left_recom dd p a.more{clear:both; bottom:0; font-size:13px; text-decoration:underline; }
	
	#section2 .right_recom{text-align:center; width:100%; border:0;}
	#section2 .right_recom dl{width:100%;}
	#section2 .right_recom dt{ z-index:1;  float:left;}
	#section2 .right_recom dt img{width:100%; text-align:center;}
	#section2 .right_recom dd{position:relative; float:left; left:0%;  font-size:14px; color:#444;  border:none; padding:0 ; width:100%; clear:both;}
	#section2 .right_recom dd h3{font-size:30px; color:#000; letter-spacing:-1.2pt; padding-bottom:20px}
	#section2 .right_recom dd span{font-size:1.2em; color:#666;}
	#section2 .right_recom dd p a.more{clear:both; bottom:0; font-size:13px; text-decoration:underline; }
	
		
 	.card {position: relative; float:left;  width: 46%; display: block;0 1%; }
	.card__desc{font-size:1rem;  height:3rem;}
	.card__button{display:block; width:80%;

}



/*******************************************************************************
	@media ~640px
*******************************************************************************/
@media all and (max-width:640px){

	body,html {font-size:13px;}
	.slider .jquery-reslider .slider-dots { bottom: 50%;}
	.card{width:48%; margin-left:auto; margin:30px 1%;}
	.card__desc{display:none;}
	.card__image{height:100%; overflow:hidden; width:100%;}
	.ad_num li dd.ad_tit{font-size:1.2rem;}
	.ad_num li dd.ad_num{font-size:3rem;}

}

/*******************************************************************************
	@media ~460px
*******************************************************************************/
@media all and (max-width:460px){
	

}

